@page
@model TicketingSystem3.Web.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>User List</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            @if (user.IsApprove == true)
            {
                continue;
            }
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    <a asp-page="./EditUser" asp-route-userid="@user.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <form method="post" asp-page-handler="UserApprove" asp-route-id="@user.Id">
                        <button type="submit">Approve</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-page-handler="UserReject" asp-route-id="@user.Id">
                        <button type="submit">Reject</button>
                    </form>
                </td>
            </tr>
        }
        @foreach (var user in Model.Users)
        {
            @if (user.IsApprove == false)
            {
                continue;
            }
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    <a asp-page="./EditUser" asp-route-userid="@user.Id" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>