@page
@model TicketingSystem3.Web.Pages.Project.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .table-container {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<div class="table-container text-center alert-info">
    <div>
        <h1>Projects</h1>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="table-container text-center alert-info">
        <div>
            <a asp-page="Create">Create New</a>
        </div>
    </div>
}
<div class="table-container alert-info">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>User</th>
                <th>Created On</th>
                <th>Modified On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Project)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-page="/Ticket/Create" asp-route-id="@item.Id" class="btn btn-success">Create Ticket</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-page="/Ticket/Create" asp-route-id="@item.Id" class="btn btn-success">Create Ticket</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>