@page
@model TicketingSystem3.Web.Pages.Ticket.IndexModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .table-container {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<div class="table-container text-center alert-info">
    <div>
        <h1>Tickets</h1>
    </div>
</div>

<div class="table-container alert-info">
    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th>Title</th>
                <th>Description</th>
                <th>User</th>
                <th>Type</th>
                <th>Status</th>
                <th>Submission Date</th>
                <th>Created On</th>
                <th>Modified On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ticket)
            {
                if (User.Identity.Name != item.User.UserName && User.IsInRole("Customer")) continue;

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmissionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a asp-page="/Message/Create" asp-route-id="@item.Id" class="btn btn-success">Create Message</a>
                        <a asp-page="/Message/TickIndex" asp-route-id="@item.Id" class="btn btn-success">View Messages</a>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>