@page
@model TicketingSystem3.Web.Pages.Message.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div>
        <h1>Messages</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Message)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
